@import "../app.scss";

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 42px;
    margin: 12px;
    border: 2px solid rgba(7, 7, 83, 0.231);
    height: 500px;
    border-radius: 12px;

    @include mobile{
       width: 100%!important;
       border: none;
    }

    .css-7ckddf-MuiInputBase-root-MuiOutlinedInput-root{
        color: rgb(7, 7, 83);
    }
}








