.paper{
    margin: 12px;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 40, 191, 0.268)!important;
    overflow-y: auto;
   

    .MuiTypography-root {
        color: #0c0c1D !important; 
      }
}
